.themeRoot {
  font-family: var(--react-tree-grid-font-family);
  font-size: var(--react-tree-grid-font-size-md);
  color: var(--react-tree-grid-color-text);
  background-color: var(--react-tree-grid-color-background);
  line-height: 1.5;
}
